/.idea
/.git
/.vscode
/live-service
/live-service~
/go_build_main_go
/lastupdate.tmp
/zoneinfo.zip
.env
.env.example
README.md
plan.md
docker-compose.yml
docker-compose.example.yml
Dockerfile
.dockerignore
nginx.conf
env.sh